/* 
   Creator           : Coding's Time
   Youtube Channel   : https://www.youtube.com/channel/UC6dnKqrImGWqMb9ty1n0Ziw
   Github Profile    : https://github.com/codingstime
 */

/* reset */
:root {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* carousel */
.carousel {
  height: 25em;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  cursor: grab;
  position: relative;
  z-index: -1;
}

.carousel_inner {
  width: 100%;
  min-height: 73.5%;

  overflow: hidden;
  cursor: grab;
  transform: translate(0em, -5em);
}

.carousel_inner::after {
  content: "";
  display: block;
  clear: both;
  cursor: grab;
}

.carousel_item {
  position: relative;
  float: left;
  display: none;
  width: 100%;
  height: 40em;
  margin-right: -100%;
}

.carousel_item__active {
  scroll-snap-align: start;
  height: 42em;
}
.carousel_item__active:hover {
  cursor: grab;
}
/* slide effect */
.carousel_item__active,
.carousel_item__pos_next {
  display: block;
}

.carousel_item__pos_next {
  left: 100%;
}

.carousel_item__next {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

/* fade effect */
.carousel__fade .carousel_item__pos_next {
  left: 0;
  opacity: 0;
}

.carousel__fade .carousel_item__next {
  transform: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__next {
  opacity: 0;
}

/* carousel */
.carousel_img {
  display: flex;
  width: 100%;
  height: 43em;
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}

.carousel_caption {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3rem 2.5rem;
  text-align: center;
  color: #fff;
  font-family: Open Sans;
  z-index: 1;
}

.carousel_title {
  font-family: Open Sans;
  font-weight: bolder;
  transform: translate(0%, 110%);
  font-size: 47px;
}

.carousel_description {
  margin-top: 0.75rem;
  line-height: 150%;
  transform: translate(0%, 110%);
  font-size: 28px;
}

.carousel_box {
  border: 1em solid white;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-45em, -11em);
  width: 70em;
  height: 65%;
  scale: 81%;
  background-color: #fff;
}

.sapimage {
  position: relative;
  left: 43%;
  transform: translate(-0em, 150%);
}
.sap-paragraph {
  color: #0044a9;
  font-size: 57.6px;
  font-family: Open Sans;
  font-weight: bolder;
  text-align: center;
  transform: translate(-0em, 40%);
}

/*  Company Carousel */
.companies {
  background-color: #ffffff;
  height: 11em;
}
.company-carousel {
  background-color: rgb(255, 255, 255);
  height: 12.4em;
  overflow: hidden;
  position: relative;
  margin-left: 30%;
  margin-right: 30%;
  max-width: 100%;
  transform: translate(0,-0.1em);
}

.company-carousel-inner {
  display: flex;

  transition: transform .3s ease-in;
}

.company-carousel img {
  display: flex;
  margin: 30px 35px;
  filter: grayscale(100%);
  cursor: pointer;
}

.company-carousel img:hover {
 
  filter: grayscale(0%);
}



@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3400px);


  }
}