.introduction{
 
  height: 62em;
  font-size: 24px;
  font-family: Varela Round;
  color: rgb(0, 0, 0);
 width: 100%;
  display: block;
  position: relative;
  line-height: 1.4em;
  text-align: start;

}


/* .intro {
  font-size: 24px;
  font-family: Varela Round;
  color: rgb(0, 0, 0);
  position: relative;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: -50%;
  display: block;
  line-height: 1.4em;
  text-align: start;
  height: 1141px;
  width: 2768.1px;
}

.intro1 {
  color: #676767;
  font-size: 95%;
  font-family: Varela Round;
  line-height: 0.15px;
}

 */







 .intro-content{
 
position: absolute;
top: 50%;
bottom: 50%;
left: 50%;
right: 50%;
transform: translate(-15em,-13em);

text-align: start;
 }


 .intro-header{
    /* Why jaarvis?*/
    font-size: 31px;
   
    font-family: Varela Round;
    color: #444444;
 position: absolute;
    transform: translate(140%,318%);
  
   
  }
  
  #consulting {
    text-decoration: none;
    color: #1e83ec;
  }
  
  #consulting:hover {
    text-decoration: none;
    color: #676767;
  }
  
  #jaarvis {
    text-decoration: none;
    color: #1e83ec;
  }
  
  #jaarvis:hover {
    text-decoration: none;
    color: #676767;
  }
  
 .p1 {
    position: relative;
  top:0 ;
  bottom:0 ;
  left:0;
  right:0;
    color: #676767;
    font-size: 68%;
    font-family: Varela Round;
    transform: translate(-16em,22em);
  }
  .p2 {
    position: relative;
    top:0 ;
    bottom:0 ;
    left:0;
    right:0;
    color: #676767;
    font-size: 68%;
    font-family: Varela Round;
    transform: translate(23em,-7.5em);
  }