.introduction{
 
  height: 994.38px;
  font-size: 24px;
  font-family: Varela Round;
  color: rgb(0, 0, 0);
 width: 100%;
  display: block;
  position: relative;
  line-height: 1.4em;
  text-align: start;

}









 .intro-content{
 
position:relative;





top: 100px;

left: 50%;
right: 50%;
margin-right: 55px;
transform: translate(-350px,0);
text-align: start;
 }


 .intro-header{
    /* Why jaarvis?*/
    font-size: 35.6px;
   top: 180px;
   left: 250px;
    font-family: Varela Round;
    color: #444444;
 position: absolute;
   
  
   
  }
  
  #consulting {
    text-decoration: none;
    color: #1e83ec;
  }
  
  #consulting:hover {
    text-decoration: none;
    color: #676767;
  }
  
  #jaarvis {
    text-decoration: none;
    color: #1e83ec;
  }
  
  #jaarvis:hover {
    text-decoration: none;
    color: #676767;
  }
  
 .p1 {
    position: relative;
  top:0 ;
  bottom:0 ;
  left:0;
  right:0;
  
    color: #676767;
    font-size: 68%;
    font-family: Varela Round;
    transform: translate(-16em,22em);
  }
  .p2 {
    position: relative;
    top:0 ;
    bottom:0 ;
    left:0;
    right:0;
    color: #676767;
    font-size: 68%;
    font-family: Varela Round;
    transform: translate(23em,-7.5em);
  }