*,
*:after,
*:before {
  box-sizing: border-box;
  word-wrap: break-word;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}







 div header input[type="checkbox"],
 div header input[type="reset"] {
  display: none !important;
}




 div header nav,
 div header nav nav {
  font-size: 14px;
  height: 100vh;
  padding-top: 30px;
  position: fixed;
  top: 0;
  transition: transform .8s ease-in-out;
  width: 300px;
  z-index: 999;
}

/* Close Menu */
.menu-close span{
  color: #ffffff;
  font-size: 2em;
  font-weight: 100;
  font-family: Raleway;
  position: absolute;
  transform: translate(6em,-.5em);
  z-index: 1880;
}



 div header nav.right-navigation,
 div header nav.right-navigation nav {
  background: #1E83EC;
  right: 0;

  transform: translateX(300px);
}

 div header nav > main,
 div header nav nav > main {
  height: 100%;
  overflow: hidden;
 
  padding: 0 60px;
  width: 100%;
}

 div header nav label {
  cursor: pointer;
  font-weight: xs;
  margin: 0;
  overflow-x: hidden;
 
}




 div header nav label.menu-toggle {
  display: block;
  height: 50px;
  line-height: 0;
  padding: 0;
  position: absolute;
  width: 50px;
  overflow: hidden;
  color: white;
}




 div header nav.right-navigation label.menu-toggle {
  background:none;
  right: 300px;
  color: #ffffff;
}


 div header nav label.menu-toggle>span,
 div header nav label.menu-toggle>span:after,
 div header nav label.menu-toggle>span:before {
  background: #959595;
  display: block;
  height: 3px;
  width: 20px;
}




 div header nav label.menu-toggle>span {
  display: block;
  margin-left: 15px;
  margin-top: 50%;
  position: relative;
}



 div header nav label.menu-toggle>span:after,
 div header nav label.menu-toggle>span:before {
  content: "";

  position: absolute;
 
}





 div header nav label.menu-toggle { margin-top: -30px; }
 div header nav label.menu-toggle>span:after {
  transform: translateY(6px);
}
 div header nav label.menu-toggle>span:before {
  transform: translateY(-6px);
}

 div header nav menu {
  margin: 0;
  padding: 0;
}
 div header nav menu li {
  display: block;
  list-style: none;
}

 div header nav menu li > a,
 div header nav menu li > label,
 div header nav menu li > span {
  display: block;
  line-height: 20px;
  padding:10px 0;
 position: relative;
 right: 15%;
 top: 45px;
}

 div header nav.right-navigation menu li > a,
 div header nav.right-navigation menu li > label,
 div header nav.right-navigation menu li > span {
  text-align: right;
}

 div header nav menu li > label:after {
  display: block;
  font-size: 150%;
}
 div header nav.left-navigation menu li > label:after {
  content: "";
  float: right;
}
 div header nav.right-navigation menu li > label:after {
  content: "";
  float: left;
}

 div header nav nav label.menu-toggle,
 div header nav nav label.menu-toggle>span,
 div header nav nav label.menu-toggle>span:after,
 div header nav nav label.menu-toggle>span:before { background: none !important; }

 div header input[type="checkbox"]:checked ~ nav { transform: translateX(0); }



.back-toggle{
  font-size: 18px;
  background-color: #00000021;
  width: 3.4em;
  padding: 10.5px;
  padding-left: -3px;
  position: relative;
  cursor: pointer;
  scale: 85%;
  transform: translate(-3em,-3em);
  
}


.back-toggle span{

  position: relative;
  transform: translate(-52%,-3%);
}









.right-navigation li{
font-family: Open Sans;
font-size: 26px;
font-weight: 900;

color: #bcdaf9;
}
.right-navigation main menu li {
  text-align: start;
  
 left: 15%
  }
  .right-navigation main menu li:hover {
   color: #ffffff;
   transition: .5s;
    }

  .nav-widget-slide{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
    z-index: 9;

  }

  .overlay-content{
margin-right:0;
transition: margin-right 0.3s;

  }

  .our-services-submenu{
display: inline;
font-size: 18px;
    right: 24%;
 margin-top: 35%;

 
  }


  .main-menu{
    display: inline;
  
 
  }

/*  IOT App, Python,Net list */
  .tech-menu li{

    position: relative;
    transform: translate(-12%,45%);
  }