

.overlay3 {
    background-color: #f5f5f5;
    height: 832px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .our-values {
    position: relative;
    margin-top: 18em;
    background-color: white;
    height: 5%;
  }

  .our-values-line{
    text-align: center;
    position: relative;
    z-index: 2;
background-color: white;

  }


  .our-values-line:after{

    content: "";
    position: absolute;
    top: 297%;
    left: 0;
    right: 0;
    border-top: solid 1px rgb(214, 214, 214);
    z-index: 1;

  }
  .line-center1 {
    margin: 0;
    padding: 0 0px;
    background: #fff;
    display: inline-block;
    position: relative;
    transform: translate(0,4em);
    z-index: 5;
   
  }

.p3 {
    /* PASSION */
    /*  under Our Values */
    color: #999999;
    font-size: 78%;
    font-family: Varela Round;
    line-height: 2em;
  
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-40em, 5em);
  }
  
  .p3 h3 {
    color: #999999;
    font-size: 168%;
    font-family: Hind;
  }
  
  .p4 {
    /* ADAPTIVITY */
    color: #999999;
    text-align: start;
    font-size: 68%;
    text-align: start;
    font-family: Varela Round;
    line-height: 2em;
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-46em, -26em);
  }
  
  .p4 h3 {
    color: #999999;
    position: relative;
  
    font-size: 168%;
    font-family: Hind;
  }
  
  .p5 {
    /* TEAMWORK */
    color: #999999;
    text-align: start;
    font-size: 68%;
    text-align: start;
    font-family: Varela Round;
    line-height: 2em;
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-46em, -16em);
  }
  .p5 h3 {
    color: #999999;
    position: relative;
  
    font-size: 168%;
    font-family: Hind;
    transform: translate(-0.05em, -0.2em);
  }
  
  /* OWNERSHIP */
  .p6 {
    color: #999999;
    text-align: right;
    font-size: 68%;
    margin-right: 15%;
  
    position: relative;
  
    text-align: start;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(1em, -74em);
    font-family: Varela Round;
    line-height: 2em;
  }
  .p6 h3 {
    color: #999999;
    position: relative;
  
    transform: translate(0.1em, -0.5em);
    font-size: 168%;
    font-family: Hind;
  }
  /* RESOURSEFULNESS */
  .p7 {
    color: #999999;
    font-family: Varela Round;
    font-size: 68%;
    line-height: 2em;
    text-align: start;
    position: relative;
    right: 50%;
    left: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(3em, -60em);
  }
  .p7 h3 {
    color: #999999;
    position: relative;
    right: 1%;
    top: 12%;
    font-size: 168%;
    font-family: Hind;
  }