/*  Our Services Heading */
.our-services {
  height: 142px;
}

.our-services-line {/* line with text */
  text-align: center;
  position: relative;
  z-index: 2;
  transform: translate(-4px,-14px);
}

.our-services-line span { /* the word */
  position: absolute;
  z-index: 42;
  background-color: white;
  padding: 0px 10px; 
  transform: translate(-3em, -0.7em);
}

.our-services-line:after {
  content: "";
  position: absolute;
  top: -30%;
  left: 0;
  right: 0;
  border-top: solid 1px rgb(214, 214, 214);
  z-index: -1;
}
/* Heading Stops Here */

/* Cards Background */
.overlay2 {
  background-color: #f5f5f5;
  height: 2100px;

}

/*  Cards Positioning */
.services {
  display: grid;
  align-items: center;

  margin-bottom: -14em;
  scale: 93%;
  grid-template-columns: repeat(4, 1fr);
 transform: translate(-215px);

}

/* Cards Content */
.content {
  display: flex-box;
  flex-wrap: wrap;
  flex: 1;
  margin: 14px;

  padding: 40px 40px;
cursor: pointer;
  border: 2px solid transparent;
  height: 500.49px;
  width: 300.64px;
  text-align: center;

  background-color: white;
  color: #000;
  font-family: Varela Round;
}

/* Cards */
.cards {
  max-width: 1100px;
  margin: auto;
  position: relative;
  margin-left: 15em;
  transform: translate(-700px, 0);
  text-align: center;
  left: 50%;
  right: 50%;
}

.content.content1 {
  position: relative;
  height: 73%;
  transform: translate(0, -15px);
}

.content.content1 a {
  position: relative;
  top: 3em;
  right: 1.2em;
}
.content.content2 {
  position: relative;

  height: 88%;
  transform: translate(0, 35px);
}

.content.content2 a {
  position: relative;
  top: 1em;
  right: 1em;
}
.content.content3 {
  position: relative;
  margin-top: 23%;
  height: 73%;
  transform: translate(0, -45px);
}

.content.content3 a {
  position: relative;
  top: 7.4em;
  right: 1em;
}

.content.content4 {
  position: relative;

  height: 88%;
  transform: translate(0, 36.5px);
}

.content.content4 a {
  position: relative;
  bottom: 4em;
  right: 1em;
}

.content.content5 {
  position: relative;
  height: 80%;
  transform: translate(0, 9%);
}

.content.content5 a {
  position: relative;
  top: 3em;
  right: 1.2em;
}
.content.content6 {
  position: relative;

  height: 78%;
  transform: translate(0, 9%);
}

.content.content6 a {
  position: relative;
}
.content.content7 {
  position: relative;

  height: 80%;
  transform: translate(0, 10%);
}

.content.content7 a {
  position: relative;
  bottom: 10%;
  right: 1em;
}

.content.content8 {
  position: relative;
  height: 80%;
  transform: translate(0, 10%);
}

.content.content8 a {
  position: relative;
}

.content.content9 {
  position: relative;

  height: 72%;
  transform: translate(0, 70px);
}

.content.content9 a {
  position: relative;
  bottom: 4em;
  right: 1em;
}

.content.content10 {
  position: relative;

  height: 88%;
  transform: translate(0, 120px);
}

.content.content10 a {
  position: relative;
  bottom: 4em;
  right: 1em;
}

.content.content11 {
  position: relative;
  transform: translate(0, 85px);
}

.content.content11 a {
  position: relative;
  top: 3em;
  right: 1em;
}

.content:hover {
  background-color: rgb(204, 204, 204);
  transition: .4s;
}

/* Cards Done */

/*   VIEW MORE Tags */
.viewmore1 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;

  transform: translate(-152%, 263%);
}

.viewmore2 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  transform: translate(-152%, 80%);
}
.viewmore3 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  transform: translate(-152%, 263%);
}
.viewmore4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;

  bottom: 50px;
  position: absolute;
  transform: translate(-152%, 133%);
}
.viewmore5 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: relative;

  position: absolute;
  transform: translate(-152%, -330%);
}
.viewmore6 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  transform: translate(-152%, -340%);
}
.viewmore7 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  transform: translate(-152%, -463%);
}
.viewmore8 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  transform: translate(-152%, -463%);
}
.viewmore9 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  transform: translate(-152%, -163%);
}
.viewmore10 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  transform: translate(-152%, -363%);
}
.viewmore11 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  transform: translate(-152%, -263%);
}
