.our-mission {
  position: relative;

  height: 350px;
}

.our-mission h1 {
  color: #444444;
  font-family: Raleway;
  text-align: center;
  font-weight: 600;
  position: absolute;
  font-size: 32px;
 left:50%;
 right: 50%;
 top: 100px;

  transform: translate(-3em, -0.4em);
}
.our-mission p {
  color: #676767;
  font-size: 16px;
  font-family: Varela Round;
  position: absolute;
  left:50%;
  right: 50%;
  top: 150px;
  transform: translate(-400px);

}
