.overlay3 {
  background-color: #f5f5f5;
  height: 830px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*  under Our Values */
.passion {
  color: #999999;
  font-size: 16px;
  font-family: Varela Round;
  line-height: 2em;
  margin-left: 20px;
  position: relative;
  bottom: 10px;

  left: 50%;
  right: 50%;
  transform: translate(-620px, 69px);
}

.passion h3 {
  /* Passion Heading */
  color: #999999;
  font-size: 24px;
  font-family: Hind;
  position: relative;

  bottom: -12px;
}

.adaptability {
  /* ADAPTIVITY */
  color: #999999;
  text-align: start;
  font-size: 17px;
  text-align: start;
  font-family: Varela Round;
  line-height: 2em;
  margin-left: 20px;
  position: relative;
  bottom: -10px;

  left: 50%;
  right: 50%;
  transform: translate(-625px, 90px);
}

.adaptability h3 {
  color: #999999;
  position: relative;

  font-size: 24px;
  font-family: Hind;
  top: 10px;
}

.teamwork {
  /* TEAMWORK */
  color: #999999;
  text-align: start;
  font-size: 17px;
  text-align: start;
  font-family: Varela Round;
  line-height: 2em;
  position: relative;
  margin-left: 20px;
  left: 50%;
  right: 50%;
  transform: translate(-626px, 146px);
}
.teamwork h3 {
  color: #999999;
  position: relative;
  top: 10px;
  font-size: 24px;
  font-family: Hind;
}

/* OWNERSHIP */
.ownership {
  color: #999999;
  text-align: right;
  font-size: 17px;
  margin-right: 15%;

  position: relative;

  text-align: start;

  left: 50%;
  right: 50%;
  top: -581px;
  font-family: Varela Round;
  line-height: 2em;
}
.ownership h3 {
  color: #999999;
  position: relative;

  transform: translate(0.1em, 9px);
  font-size: 24px;
  font-family: Hind;
}
/* RESOURCEFULNESS */
.resourcefulness {
  color: #999999;
  font-family: Varela Round;
  font-size: 17px;
  line-height: 2em;
  text-align: start;
  position: relative;
  right: 50%;
  left: 50%;
  top: 500px;
  transform: translate(-3px, -951px);
}
.resourcefulness h3 {
  color: #999999;
  position: relative;
  left: 4px;
  top: 9px;
  font-size: 24px;
  font-family: Hind;
}

.our-values {
  background-color: #ffffff;
  height: 92px;
  margin-top: -50px;
  width: 100%;
}

.our-values-line {
  text-align: center;
  top: 75px;
  position: relative;
  z-index: 1;
}

.our-values-line::after {
  content: "";
  left: 0;
  right: 0;
  border: 1px solid lightgray;
  position: absolute;
  top: 18px;
  z-index: -1;
}

.our-values-line span {
  font-family: Hind;
  background-color: white;
  z-index: 6;
  padding: 0px 10px;
}
