.overlay {
    background-color: #f5f5f5;
    height: 40em;
    position: relative;
  }

  #QualitiesCaptions {
    margin-top: 22px;
    margin-left: -25px;
    font-family: Varela Round;
    font-size: 13px;
    color: #444444;
  }
  
  
.thumbsup {
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    max-width: 100%;
  
  max-height: 100%;
  
  transform: translate(-31em, -18.4em);
  }
  
  .delivery {
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-5.5em, -25em);
  }
  
  .money {
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(21.8em, -31.65em);
  }
  
  .customer {
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-31em, -12em);
  }
  
  .team {
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-6em, -18.5em);
  }
  
  .available {
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(21.5em, -25em);
  }