.widget {
  background-color: #222222;

 height: 800px;

  width: 100%;
}

.widget-row{



}

.footer {
  background-color: #222222;
  height: 100px;
}



 .horizontal{
  position: absolute;
  top: 7%;
  width: 100%;
  border-top: solid 1px #4d4d4d;

  z-index: 1;
transform: translate(0,8530px);
 
  } 




.aboutjaarvis h4 {
  color: #ffffff;
  font-size: 12px;
  font-family: Montserrat;

  position: absolute;
 
  left: 50%;
  right: 50%;
  transform: translate(-700px, 221px);
}

.aboutjaarvis p {
  color: #ffffff;
  font-size: 16px;
  font-family: Varela Round;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-700px, 4040px);
  text-align: start;
  line-height: 30px;
}

.quicklinks{

position: relative;
transform: translate(-70px,-3675px);
}
.quicklinks span {
  color: #ffffff;
  font-size: 80%;
  font-family: Montserrat;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-295px, 3912px);
}

.quicklinks li {
  margin: 15px;
}

.quicklinks ul {
  color: #ffffff;
  list-style-type: none;
  position: absolute;
  font-family: Varela Round;
  text-align: start;

  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-345px, 3930px);
}


.recent-posts{
transform: translate(-150px,-3400px);
}
.recent-posts h4 {
  color: #ffffff;
  font-size: 12px;
  font-family: Montserrat;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(40px, 3620px);
}

.recent-posts-content {
  color: #ffffff;
  font-size: 16px;
  font-family: Varela Round;
  position: absolute;
  bottom: 50%;
  top: 50%;
  text-align: start;
  left: 50%;
  right: 50%;
  transform: translate(6.5em, 229em);
}


.get-in-touch{
  transform: translate(-153px,-25px)
}

.get-in-touch h4 {
  color: #ffffff;
  font-size: 12px;
  font-family: Montserrat;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(430px, 250px);
}
.get-in-touch-content {
  font-family: Varela Round;
  color: white;
  position: absolute;

  right: 50%;
  left: 50%;

  transform: translate(430px, 335px);
}



.copyright {
  color: #ffffff;
  font-size: 12px;
  font-family: Varela Round;
  position: relative;
  bottom: 13%;
}

.content2 .copyright {
  position: relative;
  top: 21px;
  left: 39.06%;
}

.content2 .social {
  position: relative;
  display: flex;
  top: 23px;
  left: 54.06%;
  display: inline-block;

  font-size: 26px;

  word-spacing: 11px;
  color: #ffffff;
}

.content2 .social i {
  color: #ffffff;
}
