.WorkWithUs {
  background-image: url(assets/whyWorkWithUs.jpg);
  background-repeat: none;
  width: 100%;
  height: 1290.5px;
  object-fit: cover;

  position: relative;
}

.work-with-us-content span {
  position: absolute;

  right: 0;
  left: 0;
  top: 95px;

  font-size: 42px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.reasons {

 
  
}

.reason1 {  /*  left and right property settings to 50% makes it stay in the current position */
  position: absolute;
  bottom: 77%;
  left: 50%;
  right: 50%;
}

.reason1 .number1 {
  position: absolute;

  right: -20px;
  top: 110px;
}

.reason1 span {
  position: absolute;
  top: 100px;
  left: 40px;
  color: white;
  font-family: Hind;
  font-size: 21px;
  font-weight: 900;
}

.reason1-p1 {
  color: white;
  position: relative;
  top: 120px;
  
  line-height: 31px;
  left: 41px;
}
.reason1-p2 {
  color: white;
  position: relative;
  top: 110px;
left: 40px;

  line-height: 31px;
}

.reason2 {
  position: absolute;
  bottom: 750px;
  left: 50%;
  right: 50%;
 
}

.reason2 .number2 {
  position: absolute;

  left: -76px;
  top: 50px;
  
}

.reason2 span {
  position: absolute;

  top: 45px;
  left: 40px;
  font-size: 23px;
  color: white;
  font-family: Hind;

  font-weight: 900;
}

.reason2 p {
  color: white;
  position: relative;
  top: 70px;
  left: 40px;
  line-height: 31px;
}

.reason3 {
  position: absolute;
  bottom: 550px;
  left: 50%;
  right: 50%;
  transform: translate(-80px);
}

.reason3 .number3 {
  position: absolute;
  bottom: 4%;
  left: 2%;
}

.reason3 span {
  position: absolute;
  top: 95px;
  left: 120px;
  font-size: 23px;
  color: white;
  font-family: Hind;

  font-weight: 900;
}

.reason3 p {
  color: white;
  position: relative;
  top: 130px;
  left: 120px;
  line-height: 31px;
}

.reason4 {
  position: absolute;
  bottom: 310px;
  left: 50%;
  right: 50%;
  transform: translate(-80px,0);
}

.reason4 .number4 {
  position: absolute;
  bottom: 4%;
  left: 2%;
}

.reason4 span {
  position: absolute;
  color: white;
  font-family: Hind;
  font-size: 23px;
  font-weight: 900;
  left: 120px;
  top: 60px;
}

.reason4 p {
  color: white;
  position: relative;
  top: 90px;
  left: 120px;
  line-height: 31px;
}

.reason5 {
  position: absolute;
  bottom: 110px;
  left: 700px;
  left: 50%;
  right: 50%;
  transform: translate(-80px,0);
}

.reason5 .number5 {
  position: absolute;
  bottom: 4%;
  left: 2%;
}

.reason5 span {
  position: absolute;
  top: 40px;
  color: white;
  font-family: Hind;
  font-size: 23px;
  font-weight: 900;
  left: 118px;
}

.reason5 p {
  color: white;
  position: relative;
  top: 60px;
  line-height: 31px;
  left: 120px;
}
